<% include partials/header %>
<!-- //form1 for adding a new hotel -->
<div class="container">

    <div class="container" id="updateContainer">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Update Your Profile Details</h1>
                    <hr />
                </div>
            </div>

            <div class=" main-login main-center">
                <form class="form-horizontal" id="addR" method="POST" action="/">
                    <div class="form-group">
                        <label for="image" class="cols-sm-2 control-label">Give Image Url</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="image" placeholder="Image Url" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Enter Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" placeholder="Enter Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="cols-sm-2 control-label">Enter Address</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="address" placeholder="Enter Address" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Number" class="cols-sm-2 control-label">Enter Contact Number</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="Number" placeholder="Enter Contact Number" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add Profile</button>
                    </div>

                </form>
            </div>
        </div>

    </div>



    <% include partials/footer %>